.contactList {
	padding: 0;
}
.contactItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	border-radius: 16px;
	border-bottom: 1px solid #223f4a;
	padding: 5px 0 5px 10px;
}
.button {
	margin: 2px;
	padding: 3px;
	background-color: #da6a00;
	border-radius: 16px;
	border: 1px solid #223f4a;
}
.buttonUpdate {
	padding: 3px;
	margin: 2px;
	border-radius: 16px;
	border: 1px solid #ee9b01;
	background-color: #b6d1df;
}
.user {
	width: auto;
	text-transform: capitalize;
	margin: 0;
}
.btn {
	max-width: 35%;
}
