.phonebook{
	margin: 0 auto;
	padding: 0 20px;
	width: 75vw;
	background-color: #81BECE;
	border: 1pX solid #012E4A;
	text-align: start;
}

.title{
	text-align: center;
}
.contactsTitle{
	margin-top: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
}