.phonebook {
	margin: 0 auto;
	padding: 10px 20px;
	width: 75vw;
	border-radius: 16px;
	text-align: start;
}

.title {
	text-align: center;
}
.contactsTitle {
	margin: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.listWraper {
	margin-top: 10px;
	//border-radius: 10%;
	padding: 10px;
	background-color: #fff;
	//border-left: 1px solid #14471e;
	//border-right: 1px solid #14471e;
}
