.phonebook {
	margin: 0 auto;
	padding: 10px 20px;
	width: 75vw;
	background-color: #e7eceb;
	border-radius: 16px;
	border: 1px solid #223f4a;
	text-align: start;
}

.title {
	text-align: center;
}
.contactsTitle {
	margin-top: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.listWraper {
	margin-top: 10px;
	border-radius: 16px;
	padding: 10px;
	border: 1px solid #223f4a;
	background-color: #fff;
}
