@import-normalize;
/*bring in normalize.css styles*/

*,*::after, *,::before{
	box-sizing: border-box;
}


body {
	margin: 0;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	
	height: 100vh;
	color: #223f4a;
}

#root{
	position: relative;
	width: 80%;
	margin: 0 auto;	
	border: 1px solid #DA6A00;
	border-radius: 6px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
