.formWrapper {
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #223f4a;
	border-bottom: 1px solid #223f4a;
	padding: 20px 0;
	width: 100%;
}
.userInput,
.filter {
	margin: 0 auto;
	padding-left: 20px;
	width: 80%;
	height: 30px;
	border: 1px solid #223f4a;
	border-radius: 16px;
	&:active,
	&:hover,
	&:focus {
		outline: 3px solid #f0bb29;
	}
}
.filter {
	width: 100%;
}
.addContact {
	padding: 10px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 16px;
	margin: 0 auto;
	background-color: #3b865d;
}
