.formWrapper {
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #223f4a;
	border-bottom: 1px solid #223f4a;
	padding: 20px 0;
	width: 100%;
}
.userInput,
.filter {
	//display: inline-block;
	margin: 0 auto 20px auto;
	padding-left: 20px;
	width: 80%;
	height: 30px;
	border: 1px solid #223f4a;
	border-radius: 16px;
	&:active,
	&:hover,
	&:focus {
		outline: 3px solid #f0bb29;
	}
}
.filter {
	width: 100%;
}
