.navItem {
	//width: 100%;
	//height: 100%;
	//border-radius: 6px;
	background-color: #e7eceb;

	.selected,
	.link {
		display: inline-block;
		width: 100%;
		color: #f7c815;
		text-decoration: none;
	}
}
