.navContainer {
	display: flex;
	justify-content: flex-end;
}

.navItem {
	background-color: #c8d2d1;

	.selected,
	.link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30px;
		color: #14471e;
		text-decoration: none;
		text-transform: capitalize;
	}
	.selected {
		border-radius: 16px;
		background-color: #f7c815;
		color: #14471e;
	}
}
